body{
    background: #e4d6a1ee url("../img/background1.jpg") repeat;
    display:block;
}

a, a:link, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

.header{
    padding-top: 20px;
    height: 150px;
    display: flex;
}

.menu{
    width: 80%;
    height: 150px;
}

.menu_first_row{
    width: 100%;
    display:flex;
    height: 50%;
}

.app_name{
    width: 100%;
}

#header_h1{
    text-align: center;
}

.search_input{
    height: 25px;
    font-size: 10pt;
}

.text .search_input{
    font-size: 10pt;
}

#search_submit{
    background-image: url("../img/background1.jpg");
    border-radius: 6px;
    height: 32px;
    width: 32px;
}

.logo{
    width: 20%;
    margin: 0;
}

#main_logo{
    margin: 0 20px 20px 20px;
    width: 80%;
    height: 150px;
}

.search_container{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_second_row{
    width: 100%;
    height: 50%;
}

.header_menu_link {
	margin: 0;
	display: block;
	float: left;
	padding: 0 30px;
    justify-content: space-between;
    border-right: 2px solid black;
}
  
.header_submenu_link {
	display: none;
	margin: 0;
	padding: 5px 10px 5px 10px;
}

.header_menu_link:hover .header_submenu_link {
	display: block;
}

.header_menu_link a:hover{
	opacity: 0.3;
}

.header_submenu_list {
	position: absolute;
	top: 20px;
	z-index: 10000000000;
    background-image: url("../img/background1.jpg");
    opacity: 0.8;
}

#header_menu_list{
	list-style-type: none;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	font-size: 18pt;
	padding: 20px 0;
	position: relative;	
}

.leaflet-left{
    width: 100%;
}

.leaflet-bottom .leaflet-control-scale {
    margin-left: 50%;
    margin-bottom: 20px;
}

.content{
    margin-top: 20px;
    position: relative;
    width: 100%;
    min-height: 700px;
}

.left-sidebar{
    width: 20%;
    min-height: 700px;
}

.sidebar_menu {
	background: none;
    font-family: Helvetica;
    font-size: 18pt;
	padding: 0 5px 5px 0;
}

.sidebar_menu_btn {
	width: 90%;
    height: 40px;
    font-family: Helvetica;
    font-size: 18pt;
    text-align: left;
    margin: 0 0 5px 20px;
    padding: 5px;
    border-radius: 0 6px 6px 0;
    background-image: url("../img/background1.jpg");
}

.sidebar_menu_btn:hover{
    opacity: 0.8;
}

.map {
    
    width: 80%;
    border: 2px solid #af9e64ee;
    border-radius: 6px 6px 6px 6px;
}

.footer{
    text-align: center;
    margin-bottom: 5px;
}

.weatherbutton{
    display: none;
}

.weatherbuttonblock{
    list-style: none;
    padding: 2px;
    margin: 0;
}

weatherbutton{
    display: block;
}
      
.leaflet-bar.my-control.leaflet-control:hover .weatherbutton {
    display: block;
    width: 150px;
    margin: 2px 0;
    line-height:16px;
}

.leaflet-bar.my-control.leaflet-control:hover #weatherblockbutton {
    display: none;
}

.leaflet-bar.my-control.leaflet-control{
    background: rgba(255, 255, 255, 0.3);
}

#weather5DaysForecast {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    height: auto;
    line-height: 16px;
    width: 148px;
    border: 1px solid #737373;
    border-radius: 2px;
    z-index: 10000;
    background-color: buttonface;   
}

#weather5DaysForecast:hover {
    background-color: #E6E6E6;
    border-color: #666666;
}
